@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fffae6;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
}
.col-10 {
  width: 83%;
}
.col-8 {
  width: 66%;
}
.col-4 {
  width: 33%;
}
.col-3 {
  width: 22%;
}
